<%= provide(:title, '关于我 - alivin') %>

<div class="presence">
  <h1>Alivin's Blog</h1>
  <p class="lead">just a blog development</p>
  <p><a class="btn btn-lg btn-success" href="/signup">Sign up today</a></p>
</div>