<%= provide(:title, 'Home') %>

<div class="row marketing">
  <% @articles.each do |article| %>
      <div class="context" style="padding-bottom: 20px">
          <div class="title">
            <h4><%= link_to article.title, article %> </h4>
          </div>
          <div class="content">
            <%= article.content.html_safe %>
          </div>
      </div>
  <% end %>
</div>