<% provide(:title, 'articles - alivin') %>
<%= paginate @articles %>
<div class="row marketing">
  <% @articles.each do |article| %>
      <div class="col-lg-6">
        <h4><%= link_to article.title, article %></h4>
        <p>Text contains presences the text.</p>
      </div>
  <% end %>
</div>